@page "/"
@attribute [Authorize]
@layout TopbarLayout

<PageTitle>主页</PageTitle>

<div class="full-height flex column center compact gap animation-fade">
    <h2>欢迎来到 Pkus Forum</h2>
    <p class="animation-fade" style="--animation-delay: 0.25s">在家，与学校全体师生共同交流</p>
    <button onclick=@(() => navigation.NavigateTo("/article"))>进入贴吧 &rarr;</button>
</div>

<style scoped>
    body {
        background: rgba(50, 50, 50, 0.8) url(/image/background.png) center;
        background-size: cover;
        background-blend-mode: multiply;
    }
</style>